<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mira.first.mapper.BoardMapper">
		<resultMap id="UserResultSet" type="User">
		<result column="userId" property="userId" />
		<result column="userPw" property="userPw" />
		<result column="userName" property="userName" />
		<result column="role" property="role" />
	</resultMap>
	
	<resultMap id="BoardResultSet" type="Board">	
		<result column="boardNo" property="boardNo" />
		<result column="boardTitle" property="boardTitle" />
		<result column="boardContent" property="boardContent" />
		<result column="createDate" property="createDate" />
		<result column="userId" property="userId" />
	</resultMap>
	
		<!-- 게시글 전체 조회 -->
	<select id="boardList" resultMap="BoardResultSet" parameterType="board">

 		select * 
			from BOARD
			order by boardNo desc

	</select>

	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="board">

		insert into BOARD(
			BOARDTITLE
			, BOARDCONTENT
			, USERID
		) values (
			#{boardTitle}
			, #{boardContent}
			, #{userId}
		)

	</insert>
	
	<!-- 게시글 상세조회 -->
	<select id="detailBoard" resultMap="BoardResultSet" parameterType="board">

		select * 
			from BOARD
			where BOARDNO = #{boardNo};

	</select>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="board">
		delete 
			from BOARD
			where BOARDNO = #{boardNo};
	
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="board">

		update BOARD
			set
				BOARDTITLE = #{boardTitle}
				, BOARDCONTENT = #{boardContent}
			where 
				BOARDNO = #{boardNo};
				
	</update>
	
</mapper>