<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mira.first.mapper.MemberMapper">

	<resultMap id="MemberResultSet" type="Member">
		<result column="mid" property="mid" />
		<result column="mpw" property="mpw" />
		<result column="mname" property="mname" />
	</resultMap>
	
	<resultMap id="BoardResultSet" type="Board">	
		<result column="bno" property="bno" />
		<result column="btitle" property="btitle" />
		<result column="bcontent" property="bcontent" />
		<result column="bdate" property="bdate" />
		<result column="mid" property="mid" />
	</resultMap>


	<!-- 로그인 -->
	<select id="loginMember" resultMap="MemberResultSet" parameterType="member">

		select *
			from MEMBER
			where
				MID = #{mid};

	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="member">

		insert into MEMBER(
			MID
			, MPW
			, MNAME
		) values (
			#{mid}
			, #{mpw}
			, #{mname}
		)

	</insert>
	
	
	<!-- 게시글 전체 조회 -->
	<select id="boardList" resultMap="BoardResultSet" parameterType="board">

 		select * 
			from BOARD
			order by bno desc


		<!-- select *
		from ( select
		@rownum := @rownum +1 as rownum,
		b.*
		from board b,
		(select @rownum:=0) tmp
		order by bno asc)sub
		order by sub.rownum desc
		 -->
		<!-- 글번호 없고 정/역 아니면 rownum 사용했을텐데.. 퇴근하고 정리할때 지우기~! -->

	</select>

	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="board">

		insert into BOARD(
			BTITLE
			, BCONTENT
			, MID
		) values (
			#{btitle}
			, #{bcontent}
			, #{mid}
		)

	</insert>
	
	<!-- 게시글 상세조회 -->
	<select id="detailBoard" resultMap="BoardResultSet" parameterType="board">

		select * 
			from BOARD
			where BNO = #{bno};

	</select>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="board">

		delete 
			from BOARD
			where BNO = #{bno};
	
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="board">

		update BOARD
			set
				BTITLE = #{btitle}
				, BCONTENT = #{bcontent}
			where 
				BNO = #{bno};
				
	</update>


</mapper>